html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Serif', 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
