.container {
  margin: 0;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.letterWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  user-select: none;
}

.envelopeWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 500;
  user-select: none;
}

.envelope {
  position: absolute;
  margin: auto;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 90px;
  filter: drop-shadow(8px -8px 4px rgba(0,0,0,0.3));
}

.envelopeButton {
  position: absolute;
  margin: auto;
  width: 660px;
  height: 365px;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: -90px;
  background: none;
  border: none;
}

.envelopeButton h1 {
  position: absolute;
  font-family: 'Caveat', 'PT Serif', serif;
  color: #3f200b;
  font-size: 50px;
  font-weight: normal;
}

.envelopeTo {
  left: 120px;
}

.letter {
  position: absolute;
  overflow: hidden;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60rem;
  height: 40rem;
  font-family: 'Caveat', serif;
  color: #3f200b;
}

.letterBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.letterContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
}

.letterContent {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.titleElement {
  position: absolute;
  text-align: center;
  font-weight: normal;
  font-size: 60px;
}

.letterClosing {
  text-align: right;
  margin-top: 2rem;
}

/* EDITOR */

.paperStack {
  position: absolute;
  overflow: hidden;
  left: 0; 
  right: 0; 
  top: -10rem;
  margin: auto;
  width: 36rem;
  height: 24rem;
}

.element {
  position: absolute;
  outline: none;
  overflow: hidden;
}

.editorElement:focus, .editorElement:hover {
  outline: #c23e1d solid 2px;
}

.textElement {
  word-break: break-all;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 36px;
}